extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Portfolio with my name
        h1 Weinian He

        //- Position I am applying for
        p Full Stack JavaScript Developer


        .about-bio

          //- My elevator pitch
          p I have years of experiences in CSharp, JavaScript, and SQL Programming Experiences. I graduated from Oregon State University in 2010 with Bachelor of Science in Computer Science. In my free time I like to play the piano, skiing, running, swimming and reading. 

      .skills-contact-box.box
        h6 Skills

        //- Ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Contact Information
        ul
          li 503-442-965(Zero)
          li weinianhe@hotmail dot com

        //- Social media account
        a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/heartnode' target='_blank') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back