extends layout.pug

block content

  article.portfolio-intro

    //- Website heading 
    h1 Let's make the web great together!

    //- Description of the portfolio
    p This are the projects I have participated in creating in parts to fufill my Tree House learning experiences.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Iterate over projects  
      each project in projects 
        //- Generate cell for each projects with link on the Image and the project name
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt=project.project_name)
            h5= project.project_name 
//- This was supposed for exceed, it have simplified in the css file instead. Use for future expansion
  block append scripts 
    script 
      include ../public/js/portfolio-animate.js